<%= form_for(@kitten) do |f| %>
  <% if @kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kitten.errors.count, "error") %> you made, better you must</h2>

      <ul>
      <% @kitten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :cuteness %><br>
    <%= f.text_field :cuteness %>
  </div>
  <div class="field">
    <%= f.label :softness %><br>
    <%= f.text_field :softness %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
